page-loggedin {


 div{
    font-face: "MyCustomFont";
}
	.bg{
	background: linear-gradient(to right, #222, #222 100%);
}
	//.bgimagen{
	//background-image:url('../assets/imgs/twd.jpg');
	//background-repeat:no-repeat;
	//background-position:center;
	//background-size:contain;

  ion-card {
  position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .subtitulo{
  color: white; text-align: justify; 
  }

}
